<form action="/cart" method="POST">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    <button class="btn btn--full" type="submit"><i class="fas fa-shopping-cart"></i></button>
    <input type="hidden" name="productId" value="<%=product._id%>">
</form>