.cart__item-list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin: 0 auto 3rem;
  width: 40rem;
  max-width: 90%;
}

.cart__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  margin-bottom: 1rem;
  background-color: #fff;
}

.cart__item > img {
  width: 100px;
  max-height: 70px;
  object-fit: cover;
}

.cart__item h1,
.cart__item h2 {
  margin-right: 1rem;
  font-size: 1.2rem;
  margin: 0;
}

@media (max-width: 620px) {
  .cart__item {
    flex-direction: column;
    gap: 1rem;
  }
}
